.outer-box {
  display: flex;
  width: 100%;
  height: 400px;     
  overflow: hidden;
}

.inner-box {
    margin-top: 2rem;
  flex: 1;           
}

.inner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;     
}


/*Heading.jsx styling*/

