.collection-page {
  width: 100%;
  padding-top: 40px;
}

/* .collection-title {
  background: rgba(139, 30, 63, 0.12); 
  color: #8b1e3f;
  padding: 14px 28px;
  border-radius: 12px;
  text-align: center;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: 600;
  letter-spacing: 1px;
} */

