.collection-page {
  width: 100%;
  padding-top: 40px;
}

.collection-title {
  /* background: rgba(139, 30, 63, 0.12);  */
  /* background:#F9EFBD; */
  color: #8b1e3f;
  padding: 14px 28px;
  border-radius: 12px;
  text-align: center;
  width: 100%;
  margin: 0 auto 30px;
  font-weight: 600;
  letter-spacing: 1px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
  padding: 20px;
}
