/* Container */
.AllBanners {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
}

/* Banner */
.banner {
  position: relative;
  width: 100%;
  height: 330px;
  border-radius: 14px;
  overflow: hidden;
}

/* Background (lighter professional red) */
.red-bg {
  background: linear-gradient(135deg, #560B18,#F2E5C6);
}
.blue-bg{
      background: linear-gradient(135deg, #0D3B66,#FAF0CA);

}
.pink-bg{
     background: linear-gradient(135deg, #E76993,#E9D4C2);

}
.white-bg{

         background: linear-gradient(135deg, #E8E3DD,#FAF7F1);
}
.golden-bg{
         background: linear-gradient(135deg, #57370D,#FFE998);
}
/* background: linear-gradient(135deg, #C6AE73,#E9E2DC); */
.green-bg{
   background: linear-gradient(135deg, #90A955,#ECF39E);

}


/* Image group on left */
.image-group {
  position: absolute;
  left: 30px;
  bottom: 20px;
  display: flex;
  /* gap: 14px; */
  align-items: flex-end;
}

/* Images inside group */
.image-group img {
  width: 240px;
  height: 280px;
  object-fit: cover;
  /* border-radius: 10px; */
  transition: transform 0.3s ease;
}

/* Slight lift on hover */
.image-group img:hover {
  transform: translateY(-6px);
}

/* Text & button on right */
.overlay {
  position: absolute;
  top: 50%;
  right: 80px;          /* moved left slightly */
  transform: translateY(-50%);
  text-align: right;
  color: #560B18;
}

.overlay.blue {
    color:#0A1931;
   

}
.overlay.white{
    color:#BDA896;
}
.overlay.white button{
    background-color:#BDA896 ;
}
.overlay.golden{
    color:#E9E2DC;
}
.overlay.golden button{
    background-color: #AD8330;
}

.overlay.pink{
    color:#C43670;
}
.overlay.green{
  color:#31572C;
}
.overlay.green button{
  background-color:#31572C; ;
}
.overlay.blue button{
    background-color:#0A1931;

}
.overlay.pink button{
    background-color: #C43670;

}
/* Heading */
.overlay h2 {
  font-size: 32px;
  margin-bottom: 4px;
}
.overlay p{
    padding-bottom:10px;
}

/* Button */
.overlay button {
  padding: 10px 22px;
  background-color: #8b1e3f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s ease;
}

.overlay button:hover {
  transform: translateY(-3px);
}
