* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* App container */
.app-container {
  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  background-color: #faf7f4;
}

