/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base page styles */
html, body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: #faf7f4;
  color: #2e2e2e;
}

/* Common elements */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
